
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Ropa Sans';
    box-sizing: border-box;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.rectangle1 {
    position: absolute;
    border: 2px solid red;
    align-items: center;
} 
#rectangle2 {
    display: flex;
}
#logo {
    padding-top: 1.1rem;
    padding-left: 3.3rem;
    position: absolute;
    color: #777777;
    font-size: 30px;
}
#fraseDeEfeito {
    padding-top: 1.6rem;
    padding-left: 7.3rem;
    position: absolute;
    color: #777777;
    font-size: 5.8px;
}

#vector {
    padding-top: 1.7rem;
    padding-left: 40.3rem;
    position: absolute;
}
.rectangle3 {
    display: flex;
    padding-top: 4.6rem;
    padding-left: 3.5rem;
    position: relative;
}
#ellipse1 {
    display: flex;
    padding-top: 6.7rem;
    padding-left: 1rem;
    position: absolute;
}
#vector0 {
    display: flex;
    padding-top: 7.4rem;
    padding-left: 1.8rem;
    position: absolute;
}
#ellipse2 {
    display: flex;
    padding-top: 6.7rem;
    padding-left: 34.8rem;
    position: absolute;
}
#vector1 {
    display: flex;
    padding-top: 7.4rem;
    padding-left: 35.8rem;
    position: absolute;
}
.rectangle4 {
    display: flex;
    position: absolute;
    margin-left: -38rem;
    padding-top: 23rem;
}
#rectangle6 {
    position: absolute;
}
#valor1 {
    padding-top: 9.6rem;
    margin-left: -15.3rem;
    position: relative;
    color: #777777;
    font-size: 25px;
}
#rectangle9 {
    padding-top: 9.8rem;
    margin-left: 11.7rem;
    position: absolute;
}
#new {
    padding-top: 9.8rem;
    margin-left: 12.4rem;
    position: absolute;
    color: #ffffff;
    font-size: 20px;
}
#texto1 {
    width: 19.5rem;
    padding-top: 12rem;
    padding-right: 5.3rem;
    margin-left: 0.8rem;
    position: absolute;
    font-size: 10px;
    text-align: justify;
}
.rectangle5 {
    display: flex;
    position: absolute;
    margin-left: -16rem;
    padding-top: 23rem;
}
#rectangle7 {
    position: absolute;
}
#valor2 {
    padding-top: 9.6rem;
    margin-left: 0.8rem;
    position: absolute;
    color: #777777;
    font-size: 25px;
}
#rectangle10 {
    margin-top: 9.8rem;
    margin-left: 11.8rem;
    position: absolute;
}
#sale {
    padding-top: 9.8rem;
    margin-left: 12.5rem;
    position: absolute;
    color: #ffffff;
    font-size: 20px;
}
#texto2 {
    width: 19.5rem;
    padding-top: 12rem;
    padding-right: 5.3rem;
    margin-left: 0.8rem;
    position: absolute;
    font-size: 10px;
    text-align: justify;
}
#yourstyle {
    padding-top: 43rem;
    margin-left: -21.7rem;
    position: relative;
    font-size: 23px;
    color: #777777
}
#rectangle11,
#rectangle14 {
    padding-top: 1rem;
    margin-left: -37.9rem;
    position: absolute;
}
#industrial {
    padding-top: 2.8rem;
    margin-left: -21.6rem;
    font-size: 23px;
    color: #ffffff;
    position: absolute;
}
#rectangle12,
#rectangle15 {
    padding-top: 7rem;
    margin-left: -37.9rem;
    position: absolute;
}
#modern {
    padding-top: 8.8rem;
    margin-left: -21.1rem;
    font-size: 23px;
    color: #ffffff;
    position: absolute;
}
#rectangle13,
#rectangle16 {
    padding-top: 13rem;
    margin-left: -37.9rem;
    position: absolute;
}
#classic {
    padding-top: 14.8rem;
    margin-left: -20.9rem;
    font-size: 23px;
    color: #ffffff;
    position: absolute;
}
#rectangle8 {
    padding-top: 68rem;
    margin-left: -40.8rem;
    position: absolute;
}
#image1 {
    padding-top: 70.5rem;
    margin-left: -38.1rem;
    position: absolute;
}
#endContato {
    padding-top: 71rem;
    margin-left: -14rem;
    position: absolute;
    font-size:12px;
    text-align: justify;
    color: #ffffff;
}
#vectorI {
    padding-top: 78.9rem;
    margin-left: -11.3rem;
    position: absolute;
}
#vectorF {
    padding-top: 78.9rem;
    margin-left: -9rem;
    position: absolute;
}
#vectorW {
    padding-top: 78.9rem;
    margin-left: -6.6rem;
    position: absolute;
}